<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbFunTests" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=SqlFunTests;User ID=Tester;Password=Mobutu-216;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
    <add name="CI_TEST" connectionString="Data Source=127.0.0.1;Initial Catalog=tempdb;User ID=sa;Password=DbFunTesting;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
