<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MsSqlServer" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=DbFunTests;User ID=Tester;Password=Mobutu-216;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
    <add name="MySql" connectionString="server=localhost;database=dbfuntest;uid=jacenty;pwd=Mobutu-216;AllowLoadLocalInfile=true" providerName="MySql" />
    <add name="Postgres" connectionString="Server=127.0.0.1;Port=5432;Database=DbFunTests;User Id=tester;Password=test;" providerName="Npgsql" />
  </connectionStrings>
</configuration>
